*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(200, 211, 228);
}
.check-box{
    height: 300px;
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 38%;
    
    border-radius: 8px;
    background-color: white;
}
.check-box h2{
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 10px;
}
.check-icon{
    
   height: 100px;
   width: 100px;
   border: 2px solid rgb(53, 214, 101); 
   border-radius: 50%;
   margin-top: 40px;
   /* display: flex;
   align-items: center;
   justify-content: center;
   padding-bottom: 10%; */
   /* margin-bottom: 160px; */
}
.content{
    padding-top: 160px;
}
.all{
    padding-top: 12%;
    height: auto;
    width: auto;
}
.check-box button{
    width: 330px;
    height: 37px;
    margin-top: 30px;
    background-color: rgb(62, 255, 62);
    border: none;
    border-radius: 5px;
}
.check-box a{
    border: none;
}
.check-box button:hover{
    cursor: pointer;
}