*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.navbar{
    width: 100%;
    height: 70px;
    background-color: aqua;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
}
.booking-container{
    display: flex;
}
.container-2{
    border: 1px solid black;
    width: 320px;
    background-color: rgb(241, 241, 241);
    border: none;
}

.container-1 form{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 400px;
    gap: 8px;
    padding-bottom: 40px;
}
.container-1 h2{
    color: rgb(172, 49, 49);
}
.container-1{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    height: auto;
    width: 470px;
    box-shadow: 4px 4px 12px rgba(222, 222, 222, 0.8);
    border: none;
}
.container-1 input{
    padding: 15px;
    font-size: 15px;

}
input:focus{
    outline: none;
    box-shadow: 0 0 4px rgba(66,133,244,0.6);
    border: 1px solid #4285f4;
    
}
#book-btn{
    width: 100%;
    padding: 15px;
    margin-top: 25px;
    border: none;
    border-radius: 5px;
    background-color: rgb(166, 233, 248) ;

    
}
#book-btn:hover{
    background: rgb(54, 193, 228);
    cursor: pointer;
}
.container-1 h2{
    padding-top: 25px;
    padding-bottom: 25px;
}
.first-content{
    display: flex;
    flex-wrap: wrap;
    
    padding-top: 20px;
}
.first-content i{
    height: 10px;
    width: 10px;
    font-size: 30px;
    padding: 10px;
}
.first-content p{
    margin-left: 30px;
    padding: 10px;
}
.content{
    margin-top: 10px;
    margin-left: 22px;
}
.container-2 h2{
    color: rgb(172, 49, 49);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 60px;
}
@media(max-width : 800px){
    .container-2{
        display: none;
    }
}
@media(max-width : 480px){
    .container-1{
        height: auto;
        width: 385px;
    }
    .container-1 form{
        height: auto;
        width: 370px;
    }
    .container-1 h2{
        font-size: 15px;
    }
}