*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
a{
    text-decoration: none;
}
/* navbar section*/
.navbar{
    width: 100%;
    height: 70px;
    /*background: linear-gradient(90deg,#ca94b2 0%,#a26ae3 30%,#8fc0f0 60%,#98d0da 100% );*/
    background-color: #ffffff;
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position:sticky;
    top: 0;
    z-index: 100;
}

h3{
    color: rgb(0, 0, 0);
    margin-left: 40px;
    font-size: 28px;
    border: 1px solid #000000;
    padding: 5px 8px;
    border-radius: 7px;
    
}
ul li{
    color: rgb(0, 0, 0);
    list-style: none;
    display: inline;
    margin: 0px 20px;
    font-size: 20px;
    cursor: pointer;
}
ul li:hover{
    text-decoration: underline ;
    text-underline-offset: 4px;
    color: #3a8bdc;
}
.icons{
    margin-right: 30px;
    color:#fff;
}
.logo{
     display: flex;
     margin-left: 10px;
     align-items: center;
     justify-content: center;
     
}
.logo img{
    margin-top: 5px;
    height: 4rem;
    width: 4rem;
    border-radius: 2px;
}
.logo h1{
       margin-left: 5px;
       padding: 20px 5px;
       color: rgb(26, 77, 25);
}
.menu-btn{
    display: none;
    font-size: 2rem;
    /* padding-top: 0.3rem; */
    padding-right: 1rem;
}

/* package section*/
.card-container{
    /* display: flex;
    flex-wrap: wrap;
    background-color: rgb(249, 247, 247);
    justify-content: center;
    column-gap: 10px; */ 
     height: 100%;
     width: 100%;
     background-color: rgb(243, 243, 243);
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     
}
.place-had{
    max-width: 80%;
    margin: 0 auto;
    padding-top: 2rem;
    padding-left: 1rem;
}
.place-had h1{
    margin-bottom: 2px;
}
.place-had p{
    padding-top: 15px;
}
.card-item{
    
      height: auto;
      max-width: 80%;
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
      padding-top: 2rem;
      
}
.card{
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
    height: 450px;
    width: 600px;
    background-color: #ffffff;
    margin: 1rem;
    border:2px solid rgb(228, 227, 227);
    
    
}
.card-img{
    height: 60%;
    width: 100%;
    overflow: hidden;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    
}
.card-img img{
    height: 100%;
    width: 100%;
    overflow: hidden;
    
}
.heading{
    padding-top: 2PX;
}
 .card-content{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 50%;
    width: 100%;
    overflow: hidden;
    /* text-align: center; */
    padding-left: 7px;
 } 
.card button{
    width: fit-content;
    padding: 0.5rem 1.5rem;
    /* #4caf50; hover-45a046 */
    background-color: rgb(253, 99, 43) ;
    border-radius: 10px;
    border: none;
}
.card button:hover{
    background-color: #2dbae1;
}

@media (max-width:900px){
    .icons{
        display: none;
    }
    .menu-btn{
        display: block;
    }
    .logo img{
        height: 3rem;
        width: 3rem;

    }
    .logo h1{
        font-size: 1.5rem;
    }
    .text h1{
        font-size: 1.5rem;
    }
    .text p{
        font-size: 1rem;
    }
     /* .date-time-section{
        flex-direction: column;
       padding-bottom: 20px;
       margin-bottom: 100px;
     } */
     .footer-items{
        flex-direction: column;
        
     }
}